name: build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          cache: pip

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Cache model
        uses: actions/cache@v4
        with:
          path: ~/.ollama
          key: ${{ runner.os }}-ollama

      - name: Setup Ollama
        uses: ai-action/setup-ollama@v1

      - name: Pull model
        run: ollama pull gemma:2b

      - name: Execute task
        run: python hello_world.py > $GITHUB_STEP_SUMMARY
